<section class="booking-page">
    <h2>Passenger Details</h2>

    <div class="passenger-card" *ngFor="let passenger of bookingObject.passengers; let i = index">
        <div class="passenger-form">
            <div class="field">
                <label>First Name</label>
                <input [(ngModel)]="passenger.firstName" type="text">
            </div>
            <div class="field">
                <label>Last Name</label>
                <input [(ngModel)]="passenger.lastName" type="text">
            </div>
            <div class="field">
                <label>Age</label>
                <input [(ngModel)]="passenger.age" type="number">
            </div>
            <div class="field">
                <label>Gender</label>
                <select [(ngModel)]="passenger.gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
            </div>

        </div>
        <button *ngIf="bookingObject.passengers.length >1 " (click)="removePassenger(i)"  >remove </button>
    </div>
    <button *ngIf="bookingObject.passengers.length<6" (click)="addPassenger()">Add Passenger </button>

    <div class="field">
        <label>ContactEmail</label>
        <input [(ngModel)]="bookingObject.contactEmail" type="email">
    </div>

    <div class="field">
        <label>ContactPhone</label>
        <input [(ngModel)]="bookingObject.contactPhone" type="tel">
    </div>

    <button (click)="confirmBooking()">Confirm Booking</button>



</section>
