<header class="navbar" [class.scrolled]="isScrolled">
  <div class="navbar-container">
    <div class="brand">
      <a routerLink="/" class="brand">
        <div class="logo-container">
          <img src="/assets/logoplane.png" alt="SkyWings Logo" />
        </div>
        <span>SkyWings</span>
      </a>
    </div>

    <nav class="nav-links" [class.open]="isMobileMenuOpen">
      <a (click)="closeMobileMenu() " *ngIf="isAdmin()" routerLink="/add-flight"> Add Flights</a>
      <a *ngIf="isLoggedIn()" (click)="closeMobileMenu()" routerLink="/booking-history"> Bookings </a>
      <ng-container *ngIf="!isLoggedIn(); else loggedIn">
        <a routerLink="/login">Login</a>
        <button class="signup-btn" routerLink="/signup">Sign up</button>
      </ng-container>

      <ng-template #loggedIn>
        <a routerLink="/profile" class="user" (click)="closeMobileMenu()">Hi, {{ getUsername() }}</a>
        <button class="signup-btn" (click)="onLogout()">Logout</button>
      </ng-template>

    </nav>

    <div class="menu-toggle" [class.active]="isMobileMenuOpen" (click)="toggleMobileMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>