.search-card {
  width: 100%;
  max-width: 980px;
}

.search-bar {
  display: grid;
  grid-template-columns: 1.2fr auto 1.2fr 1fr auto;
  align-items: stretch;

  background: rgba(255, 255, 255, 0.96);
  border-radius: 18px;
  box-shadow: 0 25px 70px rgba(0, 0, 0, 0.28);
  overflow: hidden;
}

/* fields */
.field {
  height: 78px;
  padding: 14px 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;

  background: rgba(255, 247, 237, 0.65);
  border-right: 2px solid rgba(0, 0, 0, 0.08);
}
.field:hover {
  background: rgba(255, 237, 213, 0.85);
}

.field:last-of-type {
  border-right: none;
}

/* labels */
.field label {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  letter-spacing: 0.3px;
}

/* inputs */
.field input {
  border: none;
  outline: none;
  background: transparent;

  font-size: 16px;
  font-weight: 600;
  color: #1f2937;
}

.field input::placeholder {
  color: #9a3412;
  font-weight: 500;
}

/* swap */
.toggle-btn {
  width: 64px;
  height: 78px;

  background: rgba(255, 237, 213, 0.9);
  border: none;
  border-right: 2px solid rgba(0, 0, 0, 0.08);

  font-size: 20px;
  font-weight: 700;
  color: #580b0b;

  cursor: pointer;
  transition: background 0.2s ease;
}

.toggle-btn:hover {
  background: rgba(255, 224, 178, 1);
}

/* CTA */
.search-btn {
  height: 100px;
  padding: 0 40px;

  background: linear-gradient(135deg, #f97316, #ea580c);
  color: #ffffff;

  font-size: 16px;
  font-weight: 700;

  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.search-btn:hover {
  box-shadow: inset 0 0 0 999px rgba(0, 0, 0, 0.08);
}

/* responsive */
@media (max-width: 1024px) {
  .search-bar {
    grid-template-columns: 1fr;
  }

  .field,
  .toggle-btn,
  .search-btn {
    border-right: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
  }

  .search-btn {
    border-bottom: none;
  }
}
